<div class="container-big-card">
  <div class="big-card-image">
    <img src="https://i.ytimg.com/vi/npdvBTHkS88/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBThrCSEjRalHjHG7tyF48YPIpQzQ" alt="">
  </div>
  <a href="#"></a>
  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card-description">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged</p>
  </div>
</div>
