<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles-main">
    <app-big-card id="1"
      photoCover="https://i.ytimg.com/vi/npdvBTHkS88/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBThrCSEjRalHjHG7tyF48YPIpQzQ"
      cardTitle="Novo Homem de Ferro em 3D" cardDescription="Marvel anuncia o novo homem de ferro"></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card id="2" photoCover="https://t.ctcdn.com.br/9KZ0WLOfJFYa4ZYBsjQ82Gpa6dM=/640x360/smart/i821523.png"
      cardDescription="Nova série do Disney Plus"></app-small-card>
    <app-small-card id="3" photoCover="https://t.ctcdn.com.br/ntAuzNV9hE2AZqLDUjO7pFCY5j0=/1244x700/smart/i395747.jpeg"
      cardDescription="Novo filme do X-Men está no forno"></app-small-card>
    <app-small-card id="4" photoCover="https://t.ctcdn.com.br/9KZ0WLOfJFYa4ZYBsjQ82Gpa6dM=/640x360/smart/i821523.png"
      cardDescription="Nova série do Disney Plus"></app-small-card>
  </div>
</div>
